h1 {
	color: #b12a2a;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
}

.index a img{
	max-width: 50px;
}

.holy {
	color: #b12a2a;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
}

.nulli {
	color: #b12a2a;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
}

.sov {
	color: #b12a2a;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
}

.moon{
	color: #b12a2a;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
}

.blood {
	color: #b12a2a;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
}

.satanic {
	color: #b12a2a;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
}

#holy {
	min-width: 200px;
	float: left;
}

#nulli {
	min-width: 200px;
	float: left;
}

#sov {
	min-width: 200px;
	float: left;
}

#moon {
	min-width: 200px;
	float: left;
}

#blood {
	min-width: 200px;
	float: left;
}

#satanic {
	min-width: 200px;
	float: left;
}