* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #000;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
	line-height: 1.42857;
}

body nav {
	width: 100%;
	min-width: 1366px;
	height: 40px;
	position: relative;
	z-index: 1234;
	background: #e4e4e4;
}

body nav div {
	background: #e4e4e4;
	width: 1000px;
	margin: 0 auto;
}

.menu > li {
	float: left;
	position: relative;
}

li {
	list-style: none;
}

.home a img {
	font-weight: 400;
	width: 39px;
	height: 100%;
	text-indent: -9999px;
	padding: 0;
}

.menu li a {
	display: block;
	color: #333;
	text-decoration: none;
	outline: 0;

}

.menu li a:hover {
	text-decoration: none;
	color: #721799;
	outline: 0;
	background-color: white;
}

.menu > li > a {
	line-height: 39px;
	padding: 0 15px;
	text-align: center;
}

.sub-menu {
	display: none;
}

.menu li:hover .sub-menu {
	display: block;
}
