body {
	margin: 0px;
}
h1 {
	text-align: center;
}

div {
	box-sizing: border-box;
	width: calc(100% / 3 - 10px);
	height: 400px;
}

#rec1 {
	background-color: red;
	float: left;
	margin-right: 15px;
}

#rec2 {
	background-color: green;
	float: left;
	margin-right: 15px;
}

#rec3 {
	background-color: blue;
	float: left;
}


